typewritten-text .char[hidden] {
	display: inline;
	visibility: hidden;
}

typewritten-text .cursor {
	position: relative;
}

typewritten-text .cursor::after {
	box-sizing: border-box;
	content: "";
	position: absolute;
	inset-block: 0;
	inset-inline-end: -0.4ch;
	border-inline-end: var(--cursor-width, 0.125em) var(--cursor-style, solid) var(--cursor-color, currentColor);
	animation: typewritten-text-blink var(--cursor-interval, 0.7s) infinite steps(1);
	visibility: hidden;
}

typewritten-text .cursor.current::after {
	visibility: visible;
}

@keyframes typewritten-text-blink {
	0% { opacity: 0; }
	50% { opacity: 1; }
}

@media (prefers-reduced-motion: reduce) {
	typewritten-text .cursor::after {
		 animation: none;
	}
}
