.page-content {
	table-of-contents::part(anchor) {
		color: var(--t-primary-b);
		text-decoration: underline;
	} table-of-contents::part(anchor):hover, table-of-contents::part(anchor):focus {
		text-decoration: none;
	}

	reorder-list {
		line-height: 1.5em;
		margin-block: 1.75em;
		display: flex;
		flex-direction: column;
		gap: 0.25em;
		padding-inline-start: clamp(1em, 4vw, 2em);
	}

	tab-item[selected] {
		background: var(--t-yellow-a);
		color: var(--t-fg-b);
	} tab-item:not([selected]):hover, tab-item:not([selected]):focus {
		background: oklch(100% 0 0 / 0.125);
	}

	wc-demo > *:first-child {
		margin-block-start: 0;
	} wc-demo > *:last-child {
		margin-block-end: 0;
	}
}
