flip-card.default {
	--card-depth: 0.5em;
	--corner-granularity: 0;
	width: 100%;
	max-width: 10em;
	height: 12.5em;
}

flip-card.default > section {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border: 0.333em solid var(--t-fg-a);
	color: var(--t-fg-b);
	font-size: 1.25em;
	box-shadow: 0.125em 0.125em 0.25em oklch(0% 0 0 / 0.25) inset;
}

flip-card.default > [slot="front"] {
	background-color: var(--t-blue-a);
}

flip-card.default > [slot="back"] {
	background-color: var(--t-purple-a);
}

flip-card.default::part(edge) {
	background-color: var(--t-fg-a);
}

flip-card.coin {
	--card-depth: 1em;
	--corner-granularity: 16;
	width: 10em;
	aspect-ratio: 1;
	border-radius: 5em;
}

flip-card.coin > section {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border: 0.25em solid var(--t-fg-a);
	color: var(--t-fg-b);
	font-size: 1.5em;
	box-shadow: 0.125em 0.125em 0.25em oklch(0% 0 0 / 0.25) inset;
}

flip-card.coin > [slot="front"] {
	background-color: var(--t-blue-a);
}

flip-card.coin > [slot="back"] {
	background-color: var(--t-purple-a);
}

flip-card.coin::part(edge) {
	background-color: var(--t-fg-a);
}

flip-card.long-and-high {
	--flip-height: 40em;
	--flip-duration: 1.5s;
}

.card-container {
	display: grid;
	place-items: center;
	grid-template-columns: repeat(auto-fill, minmax(min(10em, 100%), 1fr));
	gap: 1.5em;
	perspective: 125em;
	perspective-origin: center;
	margin-block-end: 1em;
}

.card-container flip-card {
	perspective: none;
}

flip-card.vertical-flip > [slot="back"] {
	transform: scale(-1);
}

flip-card p:last-child { margin: 0; }
