flip-card.default {
	--card-depth: 0.5em;
	--corner-granularity: 0;
	max-width: 10em;
	height: 12.5em;
}

flip-card.default > * {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border: 0.333em solid var(--c-banner);
	color: var(--c-banner-text);
	font-size: var(--f-p1);
}

flip-card.default > :first-child {
	background-color: var(--c-primary);
}

flip-card.default > :last-child {
	background-color: var(--c-secondary);
}

flip-card.default::part(edge) {
	background-color: var(--c-banner);
}

flip-card.coin {
	--card-depth: 1em;
	--corner-granularity: 16;
	width: 10em;
	aspect-ratio: 1;
	border-radius: 5em;
}

flip-card.coin > * {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border: 0.25em solid var(--c-banner);
	color: var(--c-banner-text);
	font-size: var(--f-p2);
}

flip-card.coin > :first-child {
	background-color: var(--c-primary);
}

flip-card.coin > :last-child {
	background-color: var(--c-secondary);
}

flip-card.coin::part(edge) {
	background-color: var(--c-banner);
}

flip-card.long-and-high {
	--flip-height: 40em;
	--flip-duration: 1.5s;
}

.card-container {
	display: grid;
	place-items: center;
	grid-template-columns: repeat(auto-fill, minmax(min(10em, 100%), 1fr));
	gap: 1.5em;
	perspective: 125em;
	perspective-origin: center;
	margin-block-end: 1em;
}

.card-container flip-card {
	width: 100%;
	perspective: none;
}

flip-card p:last-child { margin: 0; }
