typewritten-text.typed .cursor.current::after {
	visibility: hidden;
}

#repeat-demo {
	typewritten-text .cursor.current::after {
		visibility: visible;
	}
}

#markup-demo {
	.special {
		font-size: 1.25em;
		color: oklch(45% 0.1 20);
	}
}

#cursor-demo {
	typewritten-text .cursor.current::after {
		border-inline-end: none;
		border-block-end: 0.125em solid red;
		width: 1ch;
		inset-inline-end: -1ch;
		visibility: visible;
	}
}

#cycle-demo {
	.sentence p {
		display: inline;
	}
	
	.typewriter-cycle {
		display: inline-block;
		position: relative;
		width: 20ch;
		list-style: none;
		padding: 0;
		margin: 0;
	}
	
	.typewriter-cycle li:not(:first-child) {
		position: absolute;
		inset: 0;
	}
	
	typewritten-text {
		font-weight: bold;
	}
	
	typewritten-text .cursor.current::after {
		visibility: visible;
	}
	
	typewritten-text:not(.active) .cursor::after {
		visibility: hidden;
	}
}

#dialog-demo {
	img {
		width: 100%;
		display: block;
	}

	blockquote {
		margin: 0;
	}

	figure {
		margin: 0 1rem;
	}

	section {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		width: 100%; 
		margin-block-end: 1em;
	}

	section figure {
		flex: 0 1 33%;
		max-width: 10rem;
		margin-block-end: 1em;
	}

	section figcaption {
		text-align: center;
	}

	section blockquote {
		font-size: 1.25rem;
		flex: 1;
		position: relative;
		background: var(--bubble);
		padding: 1em;
		border-radius: 0.5em;
		position: relative;
	}

	section blockquote::after {
		content: "";
		background: var(--bubble);
		position: absolute;
		width: 1em;
		height: 1em;
		left: 1.2em;
		top: -0.2em;
		transform: skew(-20deg, -20deg);
	}

	section.flipped figure {
		align-self: flex-end;
	}

	section.flipped img {
		transform: scaleX(-1);
	}

	section.flipped blockquote::after {
		top: auto;
		left: auto;
		right: 1.2em;
		bottom: -0.2em;
		transform: skew(-20deg, -20deg);
	}

	typewritten-text .cursor::after {
		display: none;
	}

	@media screen and (min-width: 32rem) {
		section {
			flex-direction: row;
		}
		
		section blockquote::after {
			top: auto;
			right: auto;
			left: -0.2em;
			bottom: -0.2em;
			transform: skew(-20deg, -20deg);
		}
		
		section.flipped blockquote::after {
			top: auto;
			right: -0.2em;
			left: auto;
			bottom: -0.2em;
			transform: skew(20deg, 20deg);
		}
	}
}
